*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    list-style: none;
    outline: none;
}

#app{
    padding:2vh 6vw;
    background-color: #ffffff;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.link{
    color:#000;
}

/* HEADER  */
/* START  */
header{
    display: flex;
    justify-content: space-between;
}
    /* LOGO CTN  */
#logo-ctn{
    width: 14vh;
    margin: auto 0;
}
#logo-ctn img{
    width: 100%;
}
    /* DESKTOP-MENU-CTN */
#desktop-menu-ctn{
    margin:auto 0;
}
#desktop-menu{
    display:flex;
    flex-direction: row;
    gap:2vw;
}
#desktop-menu .menu{
    list-style: none;
    font-size: 2vh;
    font-weight: 500;
}
#desktop-menu li.menu:hover{
    cursor: pointer;
    color:#1a8d4a;
    transition: all .6s;
}
    /* LOGIN AND SIGNUP CTN  */
#login-and-signup-ctn{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:2vh;
}
#login, #signup, #hero-btn-register{
    padding: 0.5vw 2.5vh;
    font-size:2vh;
    border: 0;
}
#login{
    color: #1a8d4a;
    background:transparent;
}
#signup, #hero-btn-register{
    background-color: #1a8d4a;    
    color: #ffffff;
    border-radius:1vh;
}
#login:hover, #signup:hover, #hero-btn-register{
    cursor: pointer; 
}
#login:hover{
    border: 0.2vh solid #1a8d4a;
    border-radius:1vh;
}
/* END  */

/* MAIN CONTENT  */
/* START  */
    /* HERO  */
#hero{
    min-height: 96vh;
}
#hero-mini-ctn, #hero-text-ctn, #hero-text-mini-ctn{
    display: flex;
}
#hero-mini-ctn{
    flex-direction: row;
    justify-content: space-between;
    height:80vh;
}
        /* HERO TEXT CTN  */
#hero-text-ctn{
    place-items: center;
    height: 100%;
}
#hero-text-mini-ctn{
    flex-direction: column;
    gap:2vh;
}
#hero-header{
    font-size: 8vh;
}
#hero-desc{
    font-size: 2.8vh;
    color: #727070;
}
#hero-header-highlight{
    color: #1a8d4a;
}
        /* HERO IMG CTN  */
#hero-img-ctn{
    width:38vw;
    display: flex;
    place-items: center;
}
#hero-img-ctn img{
    width: 100%;
}
        /* HERO TOOGLE CTN  */
#hero-toogle-main-ctn, #hero-toogle-mini-ctn{
    display: flex;
    place-items: center;
    justify-content: center;
} 
#hero-toogle-main-ctn{
    width: 100%;
    height: 2vh;
}
#hero-toogle-mini-ctn{
    width: 50%;
    height: 100%;
    flex-direction: row;
    gap: 2vh;
}
.hero-toggle{
    background-color:#1a8d4a50;
    width: 2vh;
    height: inherit;
    border: 0.3vh solid #ffffff;
    border-radius: 50%;
    padding: 2px;
}
.hero-toggle:first-child{
    background-color:#1a8d4a;
}

    /* CLIENT LIST CTN  */
#client-list{
    min-height: 30vh;
    background-color: orange;
}
#client-list-header-ctn{
    width: 100%;
    text-align: center;
}
#client-list-header-name{
    font-size:6vh;
}
#client-list-header-desc{
    font-size: 2.6vh;
}