*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    list-style: none;
    outline: none;
}

#app{
    padding:2vh 6vw;
}

.link{
    color:#000;
}

/* HEADER  */
header{
    display: flex;
    justify-content: space-between;
}
    /* LOGO CTN  */
#logo-ctn{
    width: 14vh;
    margin: auto 0;
}
#logo-ctn img{
    width: 100%;
}
    /* DESKTOP-MENU-CTN */
#desktop-menu-ctn{
    margin:auto 0;
}
#desktop-menu{
    display:flex;
    flex-direction: row;
    gap:2vw;
}
#desktop-menu .menu{
    list-style: none;
    font-size: 2vh;
    font-weight: 500;
}
#desktop-menu li.menu:hover{
    cursor: pointer;
    color:#1a8d4a;
    transition: all .6s;
}
    /* LOGIN AND SIGNUP CTN  */
#login-and-signup-ctn{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:2vh;
}
div#login-and-signup-ctn div#login-ctn a.login-and-signup-ctn-link div#login{
    background-color: #000;
    padding: 0.5vw 2.5vh;
}

/* #login-and-signup-ctn #login-ctn .link #login{
    font-size:2vh;
    color: #1a8d4a;
    background:transparent;
    border: 0;
} */
#login-and-signup-ctn #signup-ctn{
    background-color: #1a8d4a;
    padding: 0.5vw 2.5vh;
    border-radius:1vh;
}
#login-and-signup-ctn #signup-ctn .link #signup{
    font-size:2vh;
    color: #ffffff;
    background:transparent;
    border: 0;
}