*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    list-style: none;
    outline: none;
}

#app{
    padding:2vh 6vw;
}

/* HEADER  */
    /* LOGO CTN  */
#logo-ctn{
    width: 14vh;
}
#logo-ctn img{
    width: 100%;
}
